In [ ]:
# In this module we are going to discuss concatenation of series and dataframe 

#what is concatenation? -----> In genral concatenation means joining two series one fater the other or joining data frame

In [9]:
# CONCATENATION OF SERIES -- index of two different series will remain same 
import pandas as pd 
series1=pd.Series([101,102,103,104])
series2=pd.Series([105,106,107,108])

concatenation_of_series=pd.concat([series1,series2],keys=["a","b"], names=['series','rowid'])
print(concatenation_of_series)

series  rowid
a       0        101
        1        102
        2        103
        3        104
b       0        105
        1        106
        2        107
        3        108
dtype: int64

In [45]:
# CONCATENATION OF DATA FRAMES 

df_1=pd.DataFrame({
    "names":["karthik","allen","abhi","alec"],
    "company":["byjus","amaxzon","google","akash"],
    "salary":[64000,50000,65000,56000]},
               index=[101,102,103,104])

df_2=pd.DataFrame({
    "names":["ram","rakesh","alex","om"],
    "company":["jsw","kirloskar","slk","accenture"],
    "salary":[50000,25000,30000,45000]
},index=[101,102,103,104])


print("----- \n",df_1,"\n\n")
print("second data frame \n",df_2,"\n\n")


# if we want to concatenate two data frame vereticlaly then by default axis=0

df_3=pd.concat([df_1,df_2],axis=0)
print(df_3)

-----
        names  company  salary
101  karthik    byjus   64000
102    allen  amaxzon   50000
103     abhi   google   65000
104     alec    akash   56000


second data frame
       names    company  salary
101     ram        jsw   50000
102  rakesh  kirloskar   25000
103    alex        slk   30000
104      om  accenture   45000


       names    company  salary
101  karthik      byjus   64000
102    allen    amaxzon   50000
103     abhi     google   65000
104     alec      akash   56000
101      ram        jsw   50000
102   rakesh  kirloskar   25000
103     alex        slk   30000
104       om  accenture   45000

In [47]:
# if we want to concatennate data frames horizonatlly the axis=1
df_3=pd.concat([df_1,df_2],axis=1)
print(df_3)

       names  company  salary   names    company  salary
101  karthik    byjus   64000     ram        jsw   50000
102    allen  amaxzon   50000  rakesh  kirloskar   25000
103     abhi   google   65000    alex        slk   30000
104     alec    akash   56000      om  accenture   45000

In [46]:
# after concatenating the two data frames vertically, but default it will be having the assigned index, 
#but if we want to have index continusly in proper order

df_3=pd.concat([df_1,df_2],axis=0,ignore_index=True)
print(df_3)

     names    company  salary
0  karthik      byjus   64000
1    allen    amaxzon   50000
2     abhi     google   65000
3     alec      akash   56000
4      ram        jsw   50000
5   rakesh  kirloskar   25000
6     alex        slk   30000
7       om  accenture   45000

In [53]:
# we can concatenate two data frame with the help of .append()

# df_1.append(df_2)  throwing error

AttributeError: 'DataFrame' object has no attribute 'append'