In [1]:
# Introduction to panadas

#Pandas: Pandas is a popular open source library in python, used for data manupulation and data analysis.
#Pandas provide data structure and function to manupulate large sets of data, panadas is most help for data scientist and analytics
#pandas allows us to read, write and work with different types of data
#It has high performance as it is built top of numpy library 

#Types of data structures in pandas
#DataFrame: A two-dimensional labeled data structure similar to a spreadsheet or SQL table. It consists of rows and columns, where each column can have a different data type (e.g., integer, float, string).
#DataFrames can be thought of as a dictionary of Series objects.

#Series: A one-dimensional labeled array capable of holding data of any type (integer, float, string, etc.). It's like a single column of a DataFrame.

In [2]:
# Data-structures 

#series
# Data stored in single column with index

import pandas as pd
numbers=range(1,100,5)
pd.Series(numbers)

0      1
1      6
2     11
3     16
4     21
5     26
6     31
7     36
8     41
9     46
10    51
11    56
12    61
13    66
14    71
15    76
16    81
17    86
18    91
19    96
dtype: int64

In [3]:
string="hey","how","hello","why"
pd.Series(string)

0      hey
1      how
2    hello
3      why
dtype: object

In [4]:
# A series can have hetrogenous data types, but as a series it has only one data type but not multiple

list1=["hey",1,30.2,-225,"read"]
pd.Series(list1)

0     hey
1       1
2    30.2
3    -225
4    read
dtype: object

In [6]:
#to set index values for a series
#here for the series the we have indexed with subject names, but series will be in integer data type itself
marks=[25,22,13,9]
subject=["english","maths","kannada","hindi"]
pd.Series(marks,index=subject)

english    25
maths      22
kannada    13
hindi       9
dtype: int64

In [7]:
# instead of passing two lists to set value for index in series, we can take help of dictonary
#the values in dict will be stored as key value, here key will index and value is series of data

dict1={"maths":80,"english":56,"social":86}
pd.Series(dict1)

maths      80
english    56
social     86
dtype: int64

In [12]:
#series with missing values

new_subject=["maths","social","arts"]
marks_series=pd.Series(dict1,index=new_subject)
print(marks_series)

maths     80.0
social    86.0
arts       NaN
dtype: float64

In [13]:
#return as true for which index value is not present
marks_series.isnull()

maths     False
social    False
arts       True
dtype: bool

In [15]:
#return true when index has value in it 
marks_series.notnull()

maths      True
social     True
arts      False
dtype: bool

In [16]:
#how to access the value in series with the help of index 
marks_series.loc["maths"]

80.0

In [17]:
marks_series

maths     80.0
social    86.0
arts       NaN
dtype: float64

In [18]:
#To add the missing values
marks_series["arts"]=60

In [19]:
marks_series

maths     80.0
social    86.0
arts      60.0
dtype: float64

In [20]:
#to find in which subject student has scored more than 75

marks_series[marks_series>75]

maths     80.0
social    86.0
dtype: float64

In [22]:
# To print particular marks from a subject 

marks_series["maths"]

80.0

In [23]:
# To check specific marks obtained in a sibject

marks_series["maths"]==85

False

In [26]:
#sorting of a series
#After sortimg the series, index will not get changed, it will display the index associated with value

marks_series.sort_values(ascending=True)

arts      60.0
maths     80.0
social    86.0
dtype: float64

In [30]:
marks_series.sort_values(ascending=False)

social    86.0
maths     80.0
arts      60.0
dtype: float64

In [34]:
series1=pd.Series(["a","x","p","s","b"])

In [35]:
series1.sort_values(ascending=True)

0    a
4    b
2    p
3    s
1    x
dtype: object

In [37]:
# To find the rank of subjects

marks_series.rank(ascending=False)

maths     2.0
social    1.0
arts      3.0
dtype: float64