#### Create a pandas series having values 4, 7, -5, 3, NAN and their index as d, b, a, c, e

In [ ]:
# Write a code here