 ### Create a dataframe in pandas using list and series

#### create a data frame using list


list1 = ['I', 'Love', 'Data', 'Science']

#### create dataframe from Dictionary

city_state = {'Delhi': 'Delhi', 'Mumbai': 'Maharashtra', 'Kolkata': 'West Bengal', 'Banglore': 'Karnataka'}

In [ ]:
# Write a code here