In [1]:
# Introduction to panadas

#Pandas: Pandas is a popular open source library in python, used for data manupulation and data analysis.
#Pandas provide data structure and function to manupulate large sets of data, panadas is most help for data scientist and analytics
#pandas allows us to read, write and work with different types of data
#It has high performance as it is built top of numpy library 

#Types of data structures in pandas
#DataFrame: A two-dimensional labeled data structure similar to a spreadsheet or SQL table. It consists of rows and columns, where each column can have a different data type (e.g., integer, float, string).
#DataFrames can be thought of as a dictionary of Series objects.

#Series: A one-dimensional labeled array capable of holding data of any type (integer, float, string, etc.). It's like a single column of a DataFrame.

In [2]:
# Data-structures 

#series
# Data stored in single column with index

import pandas as pd
numbers=range(1,100,5)
pd.Series(numbers)

0      1
1      6
2     11
3     16
4     21
5     26
6     31
7     36
8     41
9     46
10    51
11    56
12    61
13    66
14    71
15    76
16    81
17    86
18    91
19    96
dtype: int64

In [3]:
string="hey","how","hello","why"
pd.Series(string)

0      hey
1      how
2    hello
3      why
dtype: object

In [4]:
# A series can have hetrogenous data types, but as a series it has only one data type but not multiple

list1=["hey",1,30.2,-225,"read"]
pd.Series(list1)

0     hey
1       1
2    30.2
3    -225
4    read
dtype: object

In [6]:
#to set index values for a series
#here for the series the we have indexed with subject names, but series will be in integer data type itself
marks=[25,22,13,9]
subject=["english","maths","kannada","hindi"]
pd.Series(marks,index=subject)

english    25
maths      22
kannada    13
hindi       9
dtype: int64

In [7]:
# instead of passing two lists to set value for index in series, we can take help of dictonary
#the values in dict will be stored as key value, here key will index and value is series of data

dict1={"maths":80,"english":56,"social":86}
pd.Series(dict1)

maths      80
english    56
social     86
dtype: int64

In [9]:
#series with missing values

new_subject=["maths","social","arts"]
pd.Series(dict1,index=new_subject)

maths     80.0
social    86.0
arts       NaN
dtype: float64