## Merging and Joining a Dataframe

### Merge the given data frames by 'ID' and 'Subject'

In [20]:
df1 = pd.DataFrame({
   'ID':[101,102,103,104,105],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'Subject':['Maths','English','Science','German','History']})
print(df1)
df2 = pd.DataFrame(
   {'ID':[101,102,103,104,105],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'Subject':['English','Science','Social Science','German','History']})
print(df2)

    ID    Name  Subject
0  101    Alex    Maths
1  102     Amy  English
2  103   Allen  Science
3  104   Alice   German
4  105  Ayoung  History
    ID   Name         Subject
0  101  Billy         English
1  102  Brian         Science
2  103   Bran  Social Science
3  104  Bryce          German
4  105  Betty         History

In [ ]:
# Write the code here

## Join

### Write a code to JOIN(inner) data1 & data2 as data11.

In [0]:
data1 = pd.DataFrame({'SALARY_YEAR1': ['1000', '2000', '3000', '4000'],
                     'SALARY_YEAR2': ['2000', '4000', '6000', '8000']},
                    index= ['2101', '2102', '2103', '2104'])
   
data2 = pd.DataFrame({'SALARY_YEAR3': ['3000', '6000', '12000', '16000'],
                          'SALARY_YEAR4': ['4000', '8000', '15000', '30000']},
                      index= ['2101', '2106', '2103', '2104'])

In [ ]:
# Write the code here